.navbar{
    padding: 16px;
    background-color: transparent;
    color: black;
    z-index: 32;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;

    a{
        img{
            height: auto;
            width: 20rem;
        }
    }

    .address{
        position: fixed;
        padding: 20px;
        right: 0;
    }

    .NotVisible {
        display: none;
    }

    .btn {
        background-color: #6a7f10;
        border: none;
        font-size: 1.2rem;
        padding-bottom: 0.3rem;
        padding-top: 0.3rem;
        margin-right: 2rem;
        border-radius: 0;
        font-variant-caps: all-petite-caps;
        text-decoration: none;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
            background-color: #44520a;
        }
    }
}